.parent {
    padding: 10px 200px 0px 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (width < 600px) {
    .parent {
        padding: 10px 5vw 0px 5vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
hr {
    padding-right: 20px;
}

.code-block {
    position: relative;
    background-color: #f6f8fa !important;
}

.copy-icon {
    position: relative;
    top: -45px;
    right: 10px;
    float: right;
    background-color: #f6f8fa;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.copy-icon:hover {
    background-color: #f1f0f0;
}

.copy-icon:active {
    transition: background-color 0.1s;
    background-color: #e6e4e4;
}

.check-icon {
    position: relative;
    top: -45px;
    right: 10px;
    float: right;
    background-color: #f6f8fa;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.check-icon:hover {
    background-color: #f1f0f0;
}

.check-icon:active {
    transition: background-color 0.1s;
    background-color: #e6e4e4;
}

/* Hide check mark icon by default */
.check-icon {
    display: none;
}

